@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #171717;
        --foreground: #ffffff;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}

html,
body {
    direction: rtl; /* כל האתר RTL */
}

body:-webkit-scrollbar {
    display: none;
}
/* מבטל רווח/חפיפה בין דפים */
.book-flip {
    margin-left: auto !important;
    margin-right: auto !important;
}
